.card {
    background: var(--white);

    box-shadow: 0 2px 4px rgba(var(--black), 0.05);
    border-radius: 12px;

    display: flex;
    flex-direction: column;

    padding-bottom: 32px;
}

.card__elem {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__elem_checkbox {
    padding-left: 46px;
    padding-right: 46px;
    gap:37px;
}

.card__elem-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.card__elem-calendar {
    /*margin: 32px auto;*/
    max-width: 202px;
    /*max-height: 212px;*/
}

.card__elem_histogram {
    padding-right: 25px;
    padding-left: 25px;
}

.card__histogram {
    max-width: 300px;
    height: 157px;
}


.card__title {
    margin: 0 auto 6px;

    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
}

.card__subtitle {
    margin: 0 auto;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
}

@media screen and  (max-width: 768px) {
    .card {
        border-radius: 8px;
        padding-bottom: 8px;
    }

    .card__title {
        overflow: hidden;

        margin-top: 13px;
        padding: 0 8px;

        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 16px;
        line-height: 24px;
    }

    .card__subtitle  {
        font-size: 14px;
        line-height: 22px;
        color: var(--grey-3);
    }

    .card__elem {
        height: 164px;
    }
}
